:root {
    background-color: white;
    padding-top: 50px;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
    .profile_container {
    width: 1240px;
    max-width: 100%;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    border: black;
    border-style: solid; 
    }

    .container_item {
        border: black;
        border-style: solid; 
    }
