.group-block {
    overflow: hidden;

    padding: 20px;
    text-align: center;

    background-color: #ffffff11;

    border-radius: 5px;

    .group-card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-height: 4rem;
        margin: 0;

        .group-name {
            overflow: hidden;
            flex: auto;
            margin: 0;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;

            overflow-wrap: break-word;
        }
    }
}