.group-news {

    .group-news-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media only screen and (max-width: 900px) {
            grid-template-columns: repeat(2, 1fr);

        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);

        }

        gap: 3rem;
        padding: 20px;

        .news-item {
            display: block;
            position: relative;

            .function-button-wrapper {
                --custom-button-size: 2rem;
                --custom-button-bg: #555;

                position: absolute;
                top: calc(0rem - var(--custom-button-size) / 2);
                right: calc(0rem - var(--custom-button-size) / 2);

                button {
                    // background-color: var(--primary-bg-light, var(--_news-block-bg-light));

                    // font-size: calc(var(--_button-size) / 2);
                }
            }
        }
    }


}