#filter-bar {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 64px;
    background-color: black;
    z-index: 2;
    flex-wrap: wrap;

    button {
        background-color: black;
        color: #646CFF;
        border: none;
        outline: none;   
    }
    
    .dropbtn {
        background-color: black;
        color: #646CFF;
        border: 0;
        cursor: default;
        transition: background-color 0.3s, color 0.3s;
        font-size: 16px;
        font-weight: 500;
        padding-left: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        z-index: 2;
        margin-left: 20px;

        button {
            color: #646CFF;
            text-align: left;
            background-color: white;
            border: 0;
            border-radius: 0;
            min-width: 160px;
            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}