#header {
  height: 100dvh;

  padding-top: calc(0 - var(--nav-height, 64px));

  background-color: var(--hero-bg, navy);

  .hero-title-group {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    display: flex;
    flex-wrap: wrap;
  }

  .hero-title-group {
    flex-basis: 100%;
  }

  .hero-title-subgroup {
    display: flex;
  }

  .hero-title-subgroup:first-child {
    align-items: flex-end;
  }

  .hero-title-subgroup:last-child {
    align-items: flex-start;
  }

  .hero-title-main {
    color: var(--hero-title-c, darkorange);
    font-size: 8dvw;
  }

  .hero-title-subgroup:first-child {
    margin-right: 13dvw;
  }

  .hero-title-subgroup:last-child {
    margin-left: 30dvw;
  }

  .hero-title-slogan {
    margin: 1dvw;

    color: var(--hero-slogan-c, white);
    font-size: 2.5dvw;
  }

  .hero-title-slogan:first-child {
    text-align: right;
  }
}
