#search-bar {
    --_nav-bar-height: 4rem;

    z-index: 4;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 85dvh;
    height: 0;

    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    // bottom: 10dvh;
    // transition: all 0.9s ease;

    .search-form {
        height: 2rem;
        display: flex;

        &.scrolled {
            position: fixed;
            display: flex;
            top: 0;
            // align-items: center;

            height: var(--nav-bar-height, var(--_nav-bar-height));
        }
    }

    .search-selector {
        border-radius: 5px 0px 0px 5px;
        border: none;
    }

    .search-input {
        border-style: dashed;
        border-width: 0px 1px;
    }

    .search-button {
        display: flex;
        align-items: center;

        padding-inline: 1rem;

        border-radius: 0px 5px 5px 0px;
    }

    &.scrolled {
        // position: fixed;
        // display: flex;
        // top: 0;
        // height: var(--nav-height);
        // align-items: center;

        // height: var(--nav-bar-height, var(--_nav-bar-height));
    }
}