#search-bar {
    --_nav-bar-height: 4rem;
    --_primary-color: #fff;
    --_primary-color-light: #ccc;
    --_primary-bg: #333;
    --_primary-bg-light: #444;
    --_primary-bg-mega-dark: #111;

    z-index: 2;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 85dvh;
    height: 0;

    .search-form {
        height: 2rem;
        display: flex;
    }

    .search-selector {
        border-radius: 5px 0px 0px 5px;
        border: none;
    }

    .search-input {
        border-style: dashed;
        border-width: 0px 1px;
    }

    .search-button {
        display: flex;
        align-items: center;

        padding-inline: 1rem;

        border-radius: 0px 5px 5px 0px;
    }

    .scrolled {
        position: fixed;
        display: flex;
        justify-content: center;

        top: var(--nav-bar-height, var(--_nav-bar-height));

        width: 100%;
        height: calc(var(--nav-bar-height, var(--_nav-bar-height)) / 2);

        padding-block: 0.5rem;

        background-color: var(--primary-bg-mega-dark, var(--_primary-bg-mega-dark));

        animation-name: sliderHorizontal;
        animation-duration: var(--animation-speed-fast, 500ms);
        animation-direction: reverse;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;

        &:before {
            content: '';
            position: absolute;

            height: calc(var(--nav-bar-height, var(--_nav-bar-height)) / 2);
            width: 100%;

            background-color: var(--primary-bg-mega-dark, var(--_primary-bg-mega-dark));

            animation-name: sliderHorizontal;
            animation-duration: var(--animation-speed-normal, 1000ms);
            animation-delay: var(--animation-speed-normal, 500ms);
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;
        }

        @keyframes sliderHorizontal {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-100%);
            }
        }

        .search-selector {
            background-color: #ffffff1c;
            color: var(--primary-color-light, var(--_primary-color-light));
        }

        .search-input {
            background-color: #ffffff22;
            color: var(--primary-color-light, var(--_primary-color-light));

            border-color: #ffffff22;
        }

        .search-button {
            background-color: #ffffff1c;
            color: var(--primary-color-light, var(--_primary-color-light));
        }

    }
}