.search-bar {
    /* changes to fixed when scrolled past*/
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: 10dvh;
}

.search-bar input {
    width: 30dvw;
    font-size: 3dvw;
}

.search-bar button {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);

    background-color: #333;
}