#settings {
    --_presumed-button-padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 30rem;

    background-color: #EE1111;
}